/* || COLORS & TYPOGRAPHY */

:root {
  --color-bg: #0f172a;
  --color-text: #dbeafe;
  --color-dark: #172554;
  --color-mid: #1e3a8a;
  --color-light: #3b82f6;
  --color-error: #ef4444;

  --font-size-xs: 0.875rem;
  --font-size-sm: 1.125rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 5rem;
}

/* || GENERAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-sm);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px 16px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
}

button {
  cursor: pointer;
  border: none;
  padding: 16px 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-sm);
  background-color: var(--color-light);
  color: var(--color-text);
  transition: 0.3s;
}

button:hover {
  background-color: var(--color-text);
  color: var(--color-light);
}

i {
  cursor: pointer;
}

.fa-book-bookmark {
  color: var(--color-light);
}

/* || FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  background-color: var(--color-dark);
  border: 1px solid var(--color-light);
  box-shadow: 8px 8px var(--color-dark);
}

label {
  font-weight: bold;
}

input {
  border: none;
  padding: 8px;
  width: 100%;
  margin-top: 8px;
  background: var(--color-dark);
  border: 1px solid var(--color-light);
  color: var(--color-text);
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-sm);
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-xs);
  word-wrap: break-word; /* prevent long text from exceeding parent container */
  display: block;
  margin-top: 4px;
}

/* || TABLE */

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: var(--color-dark);
  box-shadow: 8px 8px var(--color-dark);
}

td,
th {
  word-wrap: break-word;
  text-align: left;
  padding: 16px 24px;
  border: 1px solid var(--color-light);
}

tr:nth-child(even) {
  background-color: var(--color-mid);
}

tr:not(:first-child):hover {
  background-color: var(--color-bg);
}

.cell-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

select {
  padding: 8px;
  border: none;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-xs);
  background-color: var(--color-light);
  color: var(--color-text);
}

/* || RESPONSIVE */

@media screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }

  main {
    padding: 64px 16px;
    gap: 64px;
  }

  td,
  th {
    padding: 8px;
  }

  .cell-actions {
    gap: 8px;
  }

  select {
    padding: 4px;
  }
}
